@using MLV.Business.Models
@model List<Produto>
@{
    ViewData["Title"] = "Home Page";
}

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            @foreach (var produto in Model)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="@Url.Content(produto.CaminhoImagem)" alt="@produto.Nome" style="width: 150px; height: auto; margin:0 auto;" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@produto.Nome</h5>
                                <!-- Product price-->
                                @produto.Valor.ToString("C", new System.Globalization.CultureInfo("pt-BR"))
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>